header {
    background: #2563ee;;
    padding: 0.25rem 0.5rem;
    color: white;
    overflow-wrap: break-word;
    word-break: break-word;
}


nav {
    display: none;
    flex-direction: column !important;
    gap: 8px;
    padding: 1rem;
    position: absolute;
    background:#2563ee ;
    margin-left: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

nav a {
    background: #60A5FA;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    padding: 4px 16px;
    text-decoration: none;
}

nav.active {
    display: flex;
}

.hamburguesa.active {
    background-color: #60A5FA;
}

.hamburguesa {
    display: flex;
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 24px;
    padding: 8px 12px;
}

.hamburguesa a {
    align-items: center;
}

.header-plataforma {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.elementos-header-plataforma {
    display: flex;
    flex-direction: row;

    gap: 8px;
}

.elementos-header-plataforma div{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    flex: 1;
    white-space: nowrap;
}

.izquierda {
    display: flex;
    justify-content: flex-start;

}

.derecha {
    display: flex;
    justify-content: flex-end;
}


.centrado {
    display: flex;
    justify-content: center;

}


.seccion-plataforma {
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 8px;
    min-height: 0;
    flex: 1;
}

.seccion-interna {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    
}

.contenedor-plataforma {
    flex: 1;
    text-align: center;
}

.ordenar-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 16px;
}


.division-vistas {
    display: flex;
    flex: 1;
}

.division-vistas button {
    background: #06B6D4;
    flex: 1;
    min-width: 75px;
    margin: 0;
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.division-vistas button.active{
    text-decoration:underline;
    flex: 2;
}


.vista {
    display: none;
}

.vista.active {
    display: flex;
}


.contenedor-horizontal {
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.contenedor-vertical {
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contenedor-horizontal button, .contenedor-vertical button {
    padding: 4px 16px;
}

/*Elementos pestaña inciio*/
.boton-inicio {
    background: #2563ee;
    background: #60A5FA;
    display: flex;
    flex: 1 1 200px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    color: white;
    border-radius: 12px;
    min-width: 175px;
    max-width: 400px;
}

.boton-inicio img {
    width: 4rem;
    height: auto;
}




/*Elementos pestaña salud */




.listado {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: start;
}

.elemento-listado {
    display: grid;
    grid-template-columns: 120px 2fr;
    grid-template-rows: auto, auto;
    gap: 1rem;
    align-items: center;
    max-width: 600px;
    max-height: 300px;
    grid-template-areas:
    "img texto"
    "img accion";

    background: white;
    border: 1px solid #A1A1A1;
    border-radius: 12px;
    padding: 8px;
}

.elemento-img {
    height: auto;
    width: 120px;
    object-fit: cover;
    grid-area: img;
}

.elemento-texto {
    grid-area: texto;
    display: flex;
    flex: 1;
    flex-direction:column;
    justify-content: center;
    text-align: left;
    gap: 8px;
    height: 100%;
    min-width: 0;
}

.elemento-texto p{
    font-size: clamp(0.75rem, 2vw, 1rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elemento-accion {
    grid-area: accion;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.elemento-accion button{
    font-size: clamp(0.9rem, 4vw, 1.2rem);;
    padding: 4px 8px;
}




  /* moviles */
@media (max-width: 480px) {
    nav {
        gap: 2px;
    }

    nav a {
        gap: 4px;
        font-size: 1rem;
    }

    .header-plataforma h2 {
        display: none;
    }

    .elementos-header-plataforma {
        gap: 2px;
    }

    .elementos-header-plataforma div {
    gap: 2px;
    }

    button {
        padding: 2px 4px;
        font-size: 0.6rem;
    }

    .espaciado {
        margin: 16px 0px
    }

    h1 {
        font-size: 1rem;
    }


}


/* tablets */
@media (max-width: 768px) {

}   

/* laptops */
@media (max-width: 1024px) {

}  
